.speech-bubble {
	position: relative;
	padding: 10px;
	background: rgba($black, .04);
	border-radius: 5px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 100%;
	right: 30px;
	border: 13px solid transparent;
	border-top-color: rgba($black, .04);
}